.c-main__visual {
  width: 100%; //l-mainに対する数値
  height: 380px; //l-mainに対する数値 //要調整！！！！！ 380px
  background-image: url("./../img/frontpage_c-mainVisual.png");
  background-size: cover;

  h1 {
    color: #fff;
    font-size: 4.0rem;
    font-weight: bold;
    font-family: "M+ 1m";
  }
}