.l-sidebar {
  width: 19.1%;
  @include tab {
    width: 100%; //u-container__topの中で
    height: 100%; //u-container__topの中で
    // display: none;
    display: flex;
    position: absolute;
    z-index: 100;
    visibility: hidden;
  }
}

