.p-footer {
  width: 100%;
  color: #FFF;
  justify-content: center; //左右中央
  text-align: center;
  font-size: 2.0rem;
  
  a {
    display: inline-block;
    margin-top: 40px;
  }

  p {
    font-size: 1.4rem;
    display: block;
    padding-top: 34px;
  }
}